/* fontawesome */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/* google web fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

/* reset css */
*{
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

/* default css */
body{
    font-family: 'Montserrat', sans-serif;
    color:#222;
    font-size: 15px;
    margin:0;
    height: 100vh;
    background-color: #fff;
}

/* entire layout */
.cd-section{
    height: 100vh;
}
.cd-section > div{
    height: 100%;
    position: relative;
}
.content{
    background-color: #ddd;
    position: absolute; /* position 속성이 적용되면 다른 파일이라도 상속된다. */
    width: calc(100% - 40px);
    height: calc(100% - 80px);
    left: 20px;
    bottom: 20px;
    overflow:hidden;
}

/* header */
header{
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: 1;
}
.gnb-inner{
    width: calc(100% - 40px);
    margin:auto;
    height: 60px;
    line-height: 60px;
}
.logo{
    float:left;
    padding-top:5px;
}
.gnb{
    float:right;
}
.menu{
    display:none;
}
.menu a{

}
.slogan{
    font-style: italic;
    font-size: 16px;
}   
.trigger{
    display:none;
}

/* ################### Section ################### */

      /* section : about */
.about-inner{
  background: url(images/line-drawing.png) no-repeat right bottom #0dace3;
  height: 100%;
  
}
.about-items{
  position:absolute;
  color:white;
  width: 50%;
  top:50%;
  transform:translateY(-50%);
  margin : 0 0 30px 100px;
} 
.item{
  margin:20px;
  overflow:hidden;
}
.item:hover > img{
  filter:invert(0);
}
.item:hover > span > h3{
  color:#222;
}
.item > img{
  filter:invert(); /* default 1, 100% */
  height: 120px;
  float:left;
  margin-right: 15px;
  transition:0.3s;
}

.item > span{
}
.item > span > h3{
  font-weight: 500;
  font-size: 28px;
  margin:0;
  transition:0.3s;
  letter-spacing: -1px;
}
.item > span > p{
  font-size: 18px;
  overflow:hidden;
}

      /* section : awards */
.awards-inner{
  border:1px solid #ddd;
  height: 100%;
}
.awards-inner > div{
  float:left;
  width: 50%;
  height: 100%;
  position:relative;
}
.about-awards{
  background-color: #1a1f24;
}
.about-awards-content{
  text-align: center;
  color:#fff;
  position:absolute;
  left:50%;
  top:50%;
  width: 70%;
  transform: translate(-50%,-50%);
}
.about-awards-content > h2{
  margin:0;
}
hr.bar{ /* hr은 테두리가 존재한다. */
  width: 50px;
  height: 4px;
  border:none;
  background-color:crimson;
  margin : 20px auto; /* 중앙 정렬을 위해 좌우 auto */
}
.about-awards-content > a{
  display:inline-block;
  border:1px solid #bbb;
  color:#bbb;
  padding:5px 12px;
  border-radius: 15px;
  transition: 0.5s;
  margin-top: 10px;
  text-transform: uppercase;
}
.about-awards-content > a:hover{
  background-color: #31c0ce;
  color:#fff;
  border-color: transparent;
}
.about-awards-content > p{
  color:#999;
  font-size: 16px;
  line-height: 1.5em;
}
.image-awards{
  background-color: #fff;
}
.image-awards img{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  width: 80%;
}

        /* section : location */
.location-inner{
  background: url(images/background-location.jpg) no-repeat center center;
  height: 100%;
}
.location-inner::before{
  content:'';
  background-color: rgba(0, 0, 0, 0.85);
  position:absolute;
  width: 100%;
  height: 100%;
}
.feature{
  color:#bbb;
  width: 70%;
  position:absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
}
.feature > div{
  float:left;
}
.feature-office{
  width: 60%;
}
.feature-office > div:nth-child(1){
  margin-bottom:40px;
}
.office{
  padding-right:60px;
}
.office > b{
  font-weight: normal;
}
.office > h2{
  color:#1db1f0;
  font-weight: 500;
  text-align: left;
  margin:0;
  margin-top:5px;
}
.office > p{
  font-size: 16px;
  line-height: 1.5em;
}
.office > span{
  color:#fff;
}
.feature-service{
  width: 40%;
}
.service{
  margin-bottom: 43px;
}
.service > i{
  font-size: 40px;
  color:#1db1f0;
}
.service > h3{
  margin:0;
  color:#fff;
  font-size: 22px;
}
.service > p{

}